---
import type { CartProductData } from '../actions/index';

interface Props {
	cartProductData: CartProductData;
}

const { cartProductData } = Astro.props as Props;
---
<article data-document-id={cartProductData?.documentId} data-size={cartProductData?.size} class="flex gap-6 max-w-full">
	<img class="rounded-xl" src={cartProductData?.firstImageSrc} width="160" height="160" />
	<div class="flex flex-col gap-2 content-center">
		<h4 class="text-xl/6 tracking-tight">{cartProductData?.name}</h4>
		<div class="flex flex-col gap-1 text-sm">
			<p>Precio: ${cartProductData?.unitPrice}</p>
			<p>Talle: {cartProductData?.size}</p>
		</div>
		<div class="text-xl mt-4">
			<div class="flex gap-5 mt-2 text-center" data-document-id={cartProductData.documentId} data-size={cartProductData.size} >
				<button class="reduce-quantity-btn bg-dark text-white min-w-9 py-1 rounded-full cursor-pointer">-</button>
				<div class="text-sm bg-white-100 min-w-10 py-2 rounded-full border-1 border-gray-100">
					{cartProductData?.quantity}
				</div>
				<button class="increase-quantity-btn bg-dark text-white min-w-9 py-1 rounded-full cursor-pointer">+</button>
			</div>
		</div>
	</div>
</article>

<script>
	import { actions } from 'astro:actions';
	import { getProductsCost, getShippingCost } from '/src/utils/cart';

	const reduceQuantityBtnArray = document.getElementsByClassName('reduce-quantity-btn');
	const increaseQuantityBtnArray = document.getElementsByClassName('increase-quantity-btn');
	const summary = document.getElementById('summary');

	async function updateSummary(summary) {
		const { data, error } = await actions.getCart();

		if (typeof data === 'undefined') {
			return;
		}

		const productsCost = getProductsCost(data);
		const shippingCost = getShippingCost();

		for (const e of summary.children)	{
			if (e.id === 'summary-products') {
				e.textContent = `Productos: $${productsCost}`;
			} 
			else if (e.id === 'summary-shipping') {
				e.textContent = `Envío: $${shippingCost}`;
			}
			else if (e.id === 'summary-total') {
				e.textContent = `Total: $${productsCost + shippingCost}`;
			}
		}
	}

	function hideCartProduct({ documentId, size }, summary) {
		const articlesArray = document.getElementsByTagName('article');
		for (const article of articlesArray) {

			if (article.dataset.documentId === documentId && article.dataset.size === size) {
				article.remove();
			}

			if (articlesArray.length === 0) {
				summary.setAttribute('hidden', '');
				window.location.reload();
			}

		}
	}

	function updateDisplayedQuantity(HTMLElement, str) {
		const currentQuantity = Number(HTMLElement.textContent);

		if (Number.isNaN(currentQuantity)) {
			return;
		}

		let newQuantity = '';
		if (str === 'increase') {
			newQuantity = String(currentQuantity + 1);
		} 
		else if (str === 'decrease') {
			if (currentQuantity === 0) {
				return;
			}
			newQuantity = String(currentQuantity - 1);
		}

		HTMLElement.textContent = newQuantity;
	 
		updateSummary(summary);
	}

	function updateAmountItemsInCart(str) {
		if (sessionStorage) {
			const amountItemsInCart = Number(sessionStorage.getItem('amount-items-in-cart'));
			if (str === 'increase') {
				sessionStorage.setItem('amount-items-in-cart', amountItemsInCart + 1);
			} 
			else if (str === 'decrease') {
				sessionStorage.setItem('amount-items-in-cart', amountItemsInCart - 1);
			}
		}
	}

	for (const btn of reduceQuantityBtnArray) {
		btn.addEventListener('click', async (e) => {
			const targetParentElement = e.target.parentElement;
			const dataset = targetParentElement.dataset;
			const cartProduct = {
				documentId: dataset.documentId,
				size: dataset.size,
			}
			const isProductRemovedFromCart = (await actions.reduceCartProductQuantity(cartProduct))?.data;
			if (isProductRemovedFromCart) {
				hideCartProduct(cartProduct, summary);
			}
			updateDisplayedQuantity(targetParentElement.children.item(1), 'decrease');
			updateAmountItemsInCart('decrease');
		})
	}

	for (const btn of increaseQuantityBtnArray) {
		btn.addEventListener('click', async (e) => {
			const targetParentElement = e.target.parentElement;
			const dataset = targetParentElement.dataset;
			const cartProduct = {
				documentId: dataset.documentId,
				size: dataset.size,
			}
			await actions.increaseCartProductQuantity(cartProduct);
			updateDisplayedQuantity(targetParentElement.children.item(1), 'increase');
			updateAmountItemsInCart('increase');
		})
	}
</script>
