---
import { actions } from 'astro:actions';
import ProductCard from './ProductCard.astro';

interface Props {
	category?: string;
}

const { category } = Astro.props as Props;

const sorting = await Astro.session?.get('sorting');

const searchValue = Astro.url?.searchParams?.get('q');

const { data, error } = await Astro.callAction(actions.getProducts, { 
	productName: searchValue, 
	categoryName: category, 
	sorting: sorting  
});

const productsData = [];
for (const product of data.data) {
	productsData.push(product);
}

let [title, subtitle] = '';
if (searchValue) {
	title = `Buscando "${searchValue}"`;
} else if (category) {
	title = `Categoría ${category}`;
}
if (data?.data?.length === 0) {
	subtitle = 'No hay productos que coincidan con tu búsqueda.';
}
---

<script define:vars={{data}}>
	console.log(data.data);
</script>

<div class="grid gap-4">
	{ title && <h1 class="text-2xl text-center capitalize mt-4">{title}</h1> }	
	{ subtitle && <h4 class="text-sm text-gray-300 text-center">{subtitle}</h4> }
	{ (searchValue || category) && <a href="/store" class="underline block text-center mb-2">Reiniciar la búsqueda</a> }
</div>

<div id="products-container">
		{ productsData.map( productData => <ProductCard productData={productData} />) }
</div> 


<style>

	#products-container {
		display: grid;
		grid-template-columns: 1fr;
		padding: 16px;
		gap: 16px;
	}

	#products-container.double {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 28px;
	}

</style>
