---
import type { ProductData } from '../services/Product.ts';
import ProductDetailCarousel from '../components/ProductDetailCarousel.astro';
import SizeSelector from '../components/SizeSelector.astro';
import Color from '../components/Color.astro';
import MainBtn from '../components/MainBtn.astro';
import ProductDetailData from '../components/ProductDetailData.astro';
import { getProductColors, getProductSizes, getTaxExemptPrice } from '../utils/product.ts';

interface Props {
	productData: ProductData;
}

const { productData } = Astro.props as Props;

const availableSizes = getProductSizes(productData);
const { productSlugs, availableColors } = getProductColors(productData);

const strapiBaseUrl = import.meta.env.PUBLIC_STRAPI_BASE_URL;
const firstImageSrc = strapiBaseUrl + productData?.images?.[0]?.url;
---

<main class="grid px-5">
	<ProductDetailCarousel images={productData?.images} />
	<div class="grid gap-4 pb-6 pt-3">
		<h1 class="text-4xl/10 text-dark capitalize">
			{productData?.name}
		</h1>
		<div>
			<h2 class="text-2xl text-gray-800">
				${productData?.price}
			</h2>
			<span class="text-xs font-light text-gray-600 mt-1">
				Precio sin impuestos nacionales: ${getTaxExemptPrice(productData?.price)}
			</span>
		</div>
		<form id="product-form" class="flex flex-col mt-4 gap-8">
			<input type="hidden" name="documentId" value={productData?.documentId} />
			<input type="hidden" name="name" value={productData?.name} />
			<input type="hidden" name="unitPrice" value={productData?.price} />
			<input type="hidden" name="firstImageSrc" value={firstImageSrc} />
			<div class="flex justify-between h-[80px]">
				<div class="grid">
					<span class="text-xs text-gray-600">
						Colores disponibles:
					</span>
					<div class="flex gap-6 w-fit items-center h-fit"> 
						{availableColors.map((hex, i) => <Color hex={hex} slug={productSlugs[i]} currentHex={productData?.color?.hex}/>)}
					</div>
				</div>
				<SizeSelector availableSizes={availableSizes} />
			</div>
			<button id="add-product-btn" class="bg-black text-white tracking-wide py-8 rounded-3xl cursor-pointer mt-6 shadow-md outline-2 hover:bg-white hover:text-black hover:outline-2 hover:scale-98 duration-300 ease-in-out">Añadir producto al carrito</button>
			<a hidden id="go-to-cart-anchor" href="/cartera" class="text-center underline">Ir al carrito</a>
		</form>
	</div>
	<ProductDetailData description={productData?.description} composition={productData?.composition} />
</main>

<script>
	import { actions } from 'astro:actions';
	import Swal from 'sweetalert2';

	const productForm = document.getElementById('product-form');

	function addOneItemToCartIndicator(itemsInCartIndicator) {
		const displayedAmount = Number(itemsInCartIndicator.textContent);
		if (displayedAmount === 0) {
			itemsInCartIndicator.removeAttribute('hidden');
		}
		if (sessionStorage) {
			const amountItemsInCart = Number(sessionStorage.getItem('amount-items-in-cart') || 0);
			sessionStorage.setItem('amount-items-in-cart', amountItemsInCart + 1);
		}
		itemsInCartIndicator.textContent = displayedAmount + 1;
	}

	productForm?.addEventListener('submit', async (e) => {
		e.preventDefault();

		const itemsInCartIndicator = document.getElementById('items-in-cart-indicator');
		const goToCartAnchor = document.getElementById('go-to-cart-anchor');

		const formData = new FormData(productForm);
		await actions.addCartProduct(formData);
		addOneItemToCartIndicator(itemsInCartIndicator);

		if (goToCartAnchor.hasAttribute('hidden')) {
			goToCartAnchor.removeAttribute('hidden');
		}

		const Toast = Swal.mixin({
			toast: true,
			theme: 'borderless',
			position: 'bottom',
			showConfirmButton: false,
			timer: 3000,
			timerProgressBar: true,
		});
		Toast.fire({
			icon: "success",
			title: "Producto añadido a tu carrito"
		});

	});
</script>
