---
import ProductDetailCarousel from '../components/ProductDetailCarousel.astro';
import SizeSelector from '../components/SizeSelector.astro';
import Color from '../components/Color.astro';
import MainBtn from '../components/MainBtn.astro';
import ProductDetailData from '../components/ProductDetailData.astro';
import { getProductColors, getProductSizes } from '../utils/product.ts';
import type { ProductData } from '../services/Product.ts';

interface Props {
	productData: ProductData;
}

const { productData } = Astro.props as Props;

const availableSizes = getProductSizes(productData);

const { productSlugs, availableColors } = getProductColors(productData);
---

<main class="grid px-4">
	<ProductDetailCarousel images={productData?.images} />
	<div class="grid gap-4 p-2 pb-10 pt-3">
		<h1 class="text-4xl/11 text-dark capitalize">
			{productData?.name}
		</h1>
		<div class="mt-1">
			<h2 class="text-2xl text-gray-800">
				${productData?.price}
			</h2>
			<h3 class="text-xs font-light text-gray-400 mt-1">
				Precio sin impuestos nacionales: ${(productData?.price / 1.21).toPrecision(6)}
			</h3>
		</div>
		<div class="flex justify-between mt-8">
			<div class="grid h-[80px]">
				<label class="text-xs text-gray-600">
					Colores disponibles:
				</label>
				<div class="flex gap-6 w-fit items-center h-fit"> 
					{ availableColors.map( (hex, i) => <Color hex={hex} slug={productSlugs[i]} isBig={true} /> ) }
				</div>
			</div>
			<SizeSelector availableSizes={availableSizes} />
		</div>
	</div>
	<MainBtn text="Añadir producto al carrito" />
	<ProductDetailData description={productData?.description} composition={productData?.composition} />
</main>
