---
import Color from './Color.astro';

interface Props {
	name: string;
	price: number;
	images: array;
	colors: array;
	isSmall: boolean;
}

const { 
	name = '',
	price = 0,
	images = [],
	colors = [],
	isSmall = false
} = Astro.props as Props;

let articleClasses = 'product-card';
if (isSmall) {
	articleClasses += ' small';
}

const srcPath = `http://localhost:1337${images?.[0]?.url}`;

---

<article class={articleClasses}>
  <img class="product-image" src="/src/images/product-big.jpg" />
  <div class="product-info">
    <div>
      <h5 class="product-name">{name}</h5>
      <h5 class="product-price">${price}</h5>
    </div>
    <div class="color-options">
			{ colors.map( c => <Color hex={c.hex} /> ) }
    </div>
  </div>
</article>

<style>

.product-card {
	display: grid;
	gap: .5rem;
  background-color: var(--color-white-300);
  border-radius: 1.5rem;
  padding: 0.5rem;
	transition: all .4s ease-out;
	
	>.product-image {
		aspect-ratio: 3/4;
  	border-radius: 1.5rem;
	}

	>.product-info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: var(--color-white-400);
		padding: 1.2rem;
		border-radius: 1.5rem;
	}

	.product-name {
		font-size: 0.875rem;
		color: var(--color-dark);
		text-transform: capitalize;
	}

	.product-price {
		font-size: 0.75rem;
		letter-spacing: .6px;
		color: var(--color-gray-300);
	}

	.color-options {
		display: flex;
		gap: 1.2rem;
	}
}

.product-card.small {
  min-height: 280px;
  min-width: 140px;
  background-color: transparent;
  border-radius: 1.5rem;
  padding: 0;
	gap: 0;

  >.product-info {
    margin: 0;
		padding: .4rem;
		background-color: transparent;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: start;
		gap: .8rem;
  }
	
	.product-price {
		margin-top: .2rem;
	}

  .color-options {
		gap: 1rem;
  }
}

.product-card.small:hover {
	scale: 1.05;
}

</style>
