---
import { actions } from 'astro:actions';
import ProductCard from './ProductCard.astro';
import Pagination from './Pagination.astro';

interface Props {
	id?: string;
	category?: string;
}

const { category } = Astro.props as Props;

const sorting = await Astro.session?.get('sorting');

const searchValue = Astro.url?.searchParams?.get('q');
const pageNumber = Astro.url?.searchParams?.get('pagina');

const { data, error } = await Astro.callAction(actions.getProducts, { 
	productName: searchValue, 
	categoryName: category, 
	sorting: sorting,
	page: pageNumber,
});

if (error) {
	console.error(error);
	return;
}

const productsData = data.data;

let [title, subtitle] = '';

if (searchValue) {
	title = `Buscando "${searchValue}"`;
} else if (category) {
	title = `Categoría ${category}`;
}

if (productsData.length === 0) {
	subtitle = 'No hay productos que coincidan con tu búsqueda.';
}
---
{ title || subtitle || searchValue || category
	?	<div class="grid gap-4 m-4">
			{title && <h1 class="text-2xl text-center capitalize">{title}</h1>}	

			{subtitle && <h4 class="text-sm text-gray-300 text-center">{subtitle}</h4>}

			{(searchValue || category) && <a href="/tienda" class="underline block text-center mb-2">Reiniciar la búsqueda</a>}
		</div>
	: ''
}

<div id="products-container">
	{productsData.map((productData) => <ProductCard productData={productData} />)}
</div> 

<Pagination meta={data.meta} />

<style>

	#products-container {
		display: grid;
		grid-template-columns: 1fr;
		padding: 12px;
		row-gap: 60px;
	}

	#products-container.double {
		grid-template-columns: repeat(2, minmax(136px, 1fr));
		place-content: center;
		gap: 36px 12px;
	}

</style>

