---
import ProductCard from './ProductCard.astro';
import Product from '../services/Product.ts';

const params = Astro.url.searchParams;
const searchValue = params.get('q');
const productsObj = await (new Product).searchByName(searchValue);

interface Props {
	viewMode: string;
}

const { viewMode = 'single' } = Astro.props as Props;
---

{ searchValue && <p class="font-medium text-center">Buscando "{searchValue}"</p> }	

{ viewMode === 'double' ?
	<div class="grid grid-cols-2 gap-4 p-3">
		{ productsObj.data.map( p => <ProductCard name={p.name} price={p.price} />) }
	</div> :
	<div class="grid p-3">
		{ productsObj.data.map( p => <ProductCard type="big" name={p.name} price={p.price} />) }
	</div> }

